a {
    text-decoration: none;
    color: #EEE;
}

a.quickstart {
    right: 8px;
    bottom: 4px;
    position: absolute;
}

body {
    background-color: #333;
    font-family: Exo, sans-serif;
    background-image: url('/img/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

button {
    background-color: #006;
    color: #CCF;
    border: 1px solid #009;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    display: inline-block;
    user-select: none;
}

button#download_button {
    margin: 8px auto;
}

button#confirm_pin {
    margin: 8px auto;
}

button:disabled {
    background-color: #777;
    color: #CCC;
    border: 1px solid #999;

}

button.waitingdisabled {
    cursor: wait;
}

input {
    background-color: #666;
    color: #DDD;
    border: 1px solid #888;
    border-radius: 4px;
    padding: 8px;
    width: 90%;
}

textarea {
    width: 90%;
    height: 800px;
}

.code {
    font-family: monospace;
    border: 1px solid #555;
    background-color: #333;
    color: #CCC;
    border-radius: 4px;
    white-space: pre-wrap;
    padding: 8px;
    font-size: 8pt;
}

.footer {
    color: white;
    background-color: #555;
    font-size: 9pt;
    padding: 8px;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    justify-content: space-between;
}

#vidcontainer {
    position: relative;
}

#vidmask {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

.bannermessage {
    font-weight: bold;
    text-align: center;
    padding: 8px;
    background-color: #888;
}

.clearme {
    clear: both;
}


.inlineimg {
    float: left;
    margin-right: 8px;
}

.footerspacer {
    height: 100px;
}

.outer {
    background-color: #666;
    width: 800px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px;
}

.titlebox {
    background-position: center;
    background-image: url('/img/logosmall.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    position: relative;
}

.menubox {
    background-color: #444;
}

.menuitem {
    font-variant: small-caps;
    color: white;
    display: inline-block;
    padding: 10px 20px;
}

.lightbox {
    border: 1px solid #666;
    background-color: #777;
    border-radius: 8px;
    padding: 8px 16px;
}

.menuitem:hover {
    text-decoration: none;
    background-color: #777;
}

.mainbox {
    padding: 10px 20px;
}

.upload-area{
    height: 64px;
    border: 2px solid #CCC;
    border-radius: 3px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    overflow: auto;
    background-color: #AAA;
}

.upload-area h1{
    text-align: center;
    font-size: 12pt;
}

.upload-area:hover{
    cursor: pointer;
}

.smallnote {
    font-size: 8pt;
    color: #CCC;
    font-style: italic;
}

table.upload_table {
    width: 80%;
    margin: 0 auto;
}

table.upload_table td {
    border-bottom: 1px solid #888;
}

table.maps_table {
    width: 100%;
    margin: 0 auto;
    font-size: 10pt;
}

table.maps_table td {
    margin: 4px;
    padding: 8px;
    background-color: #777;
    text-align: center;
    border: 1px solid #555;
    border-radius: 2px;
}

table.maps_table th {
    margin: 4px;
    padding: 8px;
    background-color: #88B;
    border: 1px solid #559;
    border-radius: 2px;
}

#upload-question-pin {
    display: none;
}
#upload-question-details {
    display: none;
}

#file{
    display: none;
}

#upload_status {
    margin-top: 8px;
    padding: 8px;
    border-radius: 4px;
}

#pin_status {
    margin-top: 8px;
    padding: 8px;
    border-radius: 4px;
    display:none;
}

.fail {
    border: 2px solid #A22;
    background-color: #F44;
}

.success {
    border: 2px solid #22A;
    background-color: #44F;
}

h3 {
    border: 1px solid #444;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #555;    
}

/******************/
/* For checkboxes */
/******************/

/* The container */
.checkmarkcontainer {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 16px;
    vertical-align: middle;
    height: 27px;
}

/* Hide the browser's default checkbox */
.checkmarkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #666;
  border: 1px solid #888;
  border-radius: 6px;
}

/* On mouse-over, add a background color */
.checkmarkcontainer:hover input ~ .checkmark {
  background-color: #66a;
}

/* When the checkbox is checked, add a blue background */
.checkmarkcontainer input:checked ~ .checkmark {
  background-color: #2196F3;
  background-image: linear-gradient(#2196F3, #0156B3);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkmarkcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmarkcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mapsubmission {
    font-size: 8pt;
    display: inline-block;
    min-width: 20px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    text-align: center;
}

.mapsubmission.newmap {
    background-color: #EEB;
}

.property-editor {
    display: none;
}
