:root {
    
  --bg-color-outside: #000;

  --bg-color-main: #135;
  --bg-color-dark: #081828;
  --bg-color-header: #222;
  --border-color-header: #444;

  --text-color-body: #FFF;
  --text-color-tooltip: #EEF;
  --text-color-link: #DDF;
  
  --bg-color-button: #080808;
  --text-color-button: #FFF;
  --border-color-button: #333;
  
  --bg-color-button-disabled: #747;
  --text-color-button-disabled: #CCC;
  --border-color-button-disabled: #949;
}

a {
    text-decoration: underline;
    color: var(--text-color-link);
}

a.quickstart {
    right: 8px;
    bottom: 4px;
    position: absolute;
}

body {
    background-color: var(--bg-color-outside);
    font-family: Exo, sans-serif;
    background-image: url('/img/bg.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: var(--text-color-body);
}

button {
    background-color: var(--bg-color-button);
    color: var(--text-color-button);
    border: 1px solid var(--border-color-button);
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    display: inline-block;
    user-select: none;
}

button#download_button {
    margin: 8px auto;
}

button#confirm_pin {
    margin: 8px auto;
}

button:disabled {
    background-color: var(--bg-color-button-disabled);
    color: var(--text-color-button-disabled);
    border: 1px solid var(--border-color-button-disabled);

}

button.waitingdisabled {
    cursor: wait;
}

input {
    background-color: var(--bg-color-button);
    color: var(--text-color-button);
    border: 1px solid var(--border-color-button);
    border-radius: 4px;
    padding: 8px;
    width: 90%;
}

.property-editor input {
    width: 100px;
}

textarea {
    width: 90%;
    height: 50px;
}

.code {
    font-family: monospace;
    border: 1px solid #225;
    background-color: #003;
    color: #CCC;
    border-radius: 4px;
    white-space: pre-wrap;
    padding: 8px;
    font-size: 8pt;
    text-align: left;
}

.code.minitextarea {
    max-width: 200px;
    overflow: hidden;
}

.footer {
    color: white;
    background-color: var(--bg-color-dark);
    font-size: 9pt;
    padding: 8px;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    justify-content: space-between;
}

#vidcontainer {
    position: relative;
}

#vidmask {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

.bannermessage {
    font-weight: bold;
    text-align: center;
    padding: 8px;
    background-color: #228;
    border-top: 1px solid var(--border-color-header);
    border-bottom: 1px solid var(--border-color-header);
}

.errormessage {
    font-weight: bold;
    text-align: center;
    padding: 8px;
    background-color: #A00;
    color: white;
    border-top: 1px solid #800;
    border-bottom: 1px solid #800;
}

.clearme {
    clear: both;
}


.inlineimg {
    float: left;
    margin-right: 8px;
}

.footerspacer {
    height: 100px;
}

.outer {
    background-color: var(--bg-color-main);
    max-width: 1600px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px;
}

.titlebox {
    background-position: center;
    background-image: url('/img/bannerimage.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    position: relative;
}

.menubox {
    background-color: var(--bg-color-dark);
    text-align: center;
}

.menuitem {
    font-variant: small-caps;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--bg-color-main);
    margin: 5px 2px;
    border-radius: 12px;
}

.lightbox {
    border: 1px solid var(--border-color-header);
    background-color: var(--bg-color-header);
    border-radius: 8px;
    padding: 8px 16px;
}

.menuitem:hover {
    text-decoration: none;
    background-color: #227;
}

.mainbox {
    padding: 10px 20px;
}

.upload-area{
    height: 64px;
    border: 2px solid var(--border-color-button);
    border-radius: 3px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    overflow: auto;
    background-color: var(--bg-color-button);
}

.upload-area h1{
    text-align: center;
    font-size: 12pt;
}

.upload-area:hover{
    cursor: pointer;
}

.smallnote {
    font-size: 8pt;
    color: var(--text-color-tooltip);
    font-style: italic;
}

table.upload_table {
    width: 80%;
    margin: 0 auto;
}

table.upload_table td {
    border-bottom: 1px solid var(--border-color-header);
}

table.maps_table {
    width: 100%;
    margin: 0 auto;
    font-size: 10pt;
}

table.maps_table td {
    margin: 4px;
    padding: 8px;
    background-color: #337;
    text-align: center;
    border: 1px solid #225;
    border-radius: 2px;
}

table.maps_table th {
    margin: 4px;
    padding: 8px;
    background-color: #88B;
    border: 1px solid #559;
    border-radius: 2px;
}

td.nopad {
    padding: 0;
}

#upload-question-pin {
    display: none;
}
#upload-question-details {
    display: none;
}

#file{
    display: none;
}

#upload_status {
    margin-top: 8px;
    padding: 8px;
    border-radius: 4px;
}

#pin_status {
    margin-top: 8px;
    padding: 8px;
    border-radius: 4px;
    display:none;
}

.fail {
    border: 2px solid #A22;
    background-color: #F44;
}

.success {
    border: 2px solid #44A;
    background-color: #66F;
}

h3 {
    border: 1px solid var(--border-color-header);
    padding: 4px 8px;
    border-radius: 4px;
    background-color: var(--bg-color-header);    
}

/******************/
/* For checkboxes */
/******************/

/* The container */
.checkmarkcontainer {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 16px;
    vertical-align: middle;
    height: 27px;
}

/* Hide the browser's default checkbox */
.checkmarkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #666;
  border: 1px solid #888;
  border-radius: 6px;
}

/* On mouse-over, add a background color */
.checkmarkcontainer:hover input ~ .checkmark {
  background-color: #66a;
}

/* When the checkbox is checked, add a blue background */
.checkmarkcontainer input:checked ~ .checkmark {
  background-color: #2196F3;
  background-image: linear-gradient(#2196F3, #0156B3);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkmarkcontainer input:checked ~ .checkmark:after {
  display: block;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    border: 1px solid #558;
    border-radius: 6px;
    height: 25px;
    padding: 0px 8px;
    cursor: pointer;
}

input[type="radio"]:checked+label {
    font-weight: bold;
    background-color: #2196F3;
    background-image: linear-gradient(#2196F3, #0156B3);
    color: white;
}


/* Style the checkmark/indicator */
.checkmarkcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mapsubmission {
    font-size: 8pt;
    display: inline-block;
    min-width: 20px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    text-align: center;
}

.mapsubmission.newmap {
    background-color: #EEB;
}

.property-editor {
    display: none;
}

.property-edit {
    cursor: pointer;
    text-decoration-style: dotted;
    text-decoration-line: underline;
}

button.property {
    background-color: transparent;
    border: none;
    height: 16px;
    width: 16px;
}

div.slideshow {
    text-align: center;
}

div.randompicture {
    display: inline-block;
    width: 18%;
    margin: 8px;
    overflow: hidden;
}

div.randompicture div.fading img {
    width: 100%;

}

div.randompicture-inner {
    position: relative;
    border: 1px solid var(--text-color-body);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 3px 3px 4px 0px black;
    animation: fadeIn 1s;
}

div.randompicture div.mapnumber {
    position: absolute;
    top: 8px;
    color: white;
    font-size: 14px;
    background-color: rgba(0, 0, 0, .25);
    padding: 4px;
    border-radius: 8px;
    left: 8px;
}
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

button.property-ok      {background-image: url("/img/confirm.png");    }
button.property-cancel  {background-image: url("/img/cancel.png");     }
button.property-unlocked{background-image: url("/img/unlocked.png");   }
button.property-locked  {background-image: url("/img/locked.png");     }
button.property-download{background-image: url("/img/page_save.png");  }
button.property-delete  {background-image: url("/img/cross.png");      }
button.property-log     {background-image: url("/img/log.png");        }
button.property-logerror{background-image: url("/img/logerror.png");   }
button.property-disabled{background-image: url("/img/lightbulb_off.png");   }
button.property-enabled {background-image: url("/img/lightbulb.png");   }

.map_length {
  display: inline-block;
  Background-color: #44F;
  Border: 1px solid #22D;
  Border-radius: 8px;
  Width: 16px;
}

.map_difficulty {
  display: inline-block;
  Background-color: #900;
  Border: 1px solid #700;
  Border-radius: 8px;
  Width: 16px;
}

.map_property {
    display: inline-block;
    Background-color: #090;
    Border: 1px solid #070;
    Border-radius: 8px;
    padding: 0 4px;
}

/* Special for not showing link underlines in error page titles */
.errorpage > h4 > a {
    text-decoration: none;
}

table.maps_table td.reservednumspan {
    Background-color: #333;
    Border: 1px solid #111;
}